<?xml version='1.0' encoding='utf-8'?>
<widget id="com.arappcreator.sellerpro" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Seller Pro</name>
    <description>Seller Pro Application</description>
    <author email="dev@arappcreator.com" href="http://arappcreator.com">AR App Creator</author>
    
    <content src="index.html" />
    <access origin="*" />
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="whatsapp:*" />

    <icon src="www/logo.png" />

    <preference name="SplashScreen" value="www/splash.png" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/logo.png" />
    <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />

    <platform name="android">
        <allow-intent href="market:*" />
        
        <queries>
            <intent>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="whatsapp" />
            </intent>
            <intent>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="wa.me" />
            </intent>
        </queries>

        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:requestLegacyExternalStorage="true" />
        </edit-config>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
        </config-file>
    </platform>

    <plugin name="cordova-plugin-printer" spec="https://github.com/katzer/cordova-plugin-printer.git" />
</widget>
